* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    height: 100vh;
    background: linear-gradient(to right, #29323c, #485563);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .container {
    background: linear-gradient(to bottom right, #e0e0e0, #f5f5f5);
    width: 80%;
    max-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  textarea {
    font-size: 1.2em;
    width: calc(100% - 20px);
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 15px;
    resize: none;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    color: #34495e;
    transition: border-color 0.3s ease;
  }
  
  textarea:focus {
    outline: none;
    border-color: #3498db;
  }
  
  #submit {
    font-size: 1.5em;
    display: block;
    width: 100%;
    margin: auto;
    padding: 15px;
    border: none;
    background: #3498db;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #submit:hover {
    background-color: #2980b9;
  }
  
  .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .controls button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border: 2px solid #3498db;
    border-radius: 50%;
    cursor: pointer;
    color: #3498db;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .controls button:hover {
    background-color: #3498db;
    color: #fff;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  